<div class="quotes-slider__text text-center" >
   <div class="image__testimonial">
      <img src="{{lang 'ap-base-1.testimonial.image-testimonial'}}" class="img-respinsive item_img_testimonial" alt="Pi Bags">
   </div>
   <cite><b>{{lang 'ap-base-1.testimonial.author-testimonial'}}</b> {{lang 'ap-base-1.testimonial.author-testimonial-position'}}</cite>
   <div class="rte-setting">
      <p>{{lang 'ap-base-1.testimonial.description-testimonial'}}</p>
   </div>
</div>
<div class="quotes-slider__text text-center" >
   <div class="image__testimonial">
      <img src="{{lang 'ap-base-1.testimonial.image-testimonial2'}}" class="img-respinsive item_img_testimonial" alt="Pi Bags">
   </div>
   <cite><b>{{lang 'ap-base-1.testimonial.author-testimonial2'}}</b> {{lang 'ap-base-1.testimonial.author-testimonial-position2'}}</cite>
   <div class="rte-setting">
      <p>{{lang 'ap-base-1.testimonial.description-testimonial2'}}</p>
   </div>
</div>
<div class="quotes-slider__text text-center" >
   <div class="image__testimonial">
      <img src="{{lang 'ap-base-1.testimonial.image-testimonial3'}}" class="img-respinsive item_img_testimonial" alt="Pi Bags">
   </div>
   <cite><b>{{lang 'ap-base-1.testimonial.author-testimonial3'}}</b> {{lang 'ap-base-1.testimonial.author-testimonial-position3'}}</cite>
   <div class="rte-setting">
      <p>{{lang 'ap-base-1.testimonial.description-testimonial3'}}</p>
   </div>
</div>
