// HERO CAROUSEL
// -----------------------------------------------------------------------------
//
// Purpose: Styles the hero carousel component, which basically adds extras to the
// vendor slick carousel, to specifically display hero images.
//
// 1. Hide the actual image element to allow background-size: cover treatment on
//    large screens to scale image. Use visibility because the JS uses the height
//    to set the slide size.
//
// 2. With JS on, minimise the jump in content as you progressively enhance the
//    slider. Slowly fade and slide the height, instead of a jump in collapsing
//    hidden content.
//
// 3. Visually overrides the top margin for '.body' defined in _body.scss.
//    The '.body' top margin creates space between the header and page content.
//    However, on the homepage, we want the carousel to be flush with the header.
//
// 4. Allows image to scale on large screens while preventing the top and bottom
//    from becoming cut off.
// -----------------------------------------------------------------------------

.heroCarousel {
    margin-bottom: spacing("single");
   // margin-top: -(spacing("single")); // 3

    @include breakpoint("medium") {
       // margin-top: -(spacing("single") + spacing("base")); // 3
    }

    .js & { // 2
        max-height: remCalc(0);
        opacity: 0;
        overflow: hidden;
        transition: all 600ms ease-out;
    }

    &.slick-initialized { // 2
        max-height: remCalc(1000);
        opacity: 1;
    }

    .slick-next,
    .slick-prev {
        top: 40%;
        @media (max-width:767px){
            opacity: 0;
            visibility: hidden;
        }
        @include breakpoint("medium") {
            top: 50%;
        }
    }

    .slick-next {
        right: 15px;

        @include breakpoint("medium") {
            right: 25px;
        }
    }

    .slick-prev {
        left: 15px;

        @include breakpoint("medium") {
            left: 25px;
        }
    }

    .slick-dots {
        bottom: spacing("third");

        @include breakpoint("medium") {
            bottom: spacing("single");
        }

        // scss-lint:disable SelectorDepth, NestingDepth
        li {
           // @include carouselOpaqueBackgrounds($slick-dot-bgColor);
        }
    }
}

.heroCarousel-slide {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 400px;
    a {
        text-decoration: none;
    }
    @media (min-width: 768px){
        min-height: 500px;
    }
    @media (min-width: 1200px){
        min-height: 765px;
    }
}

.heroCarousel-slide--stretch {
    @include breakpoint("large") { // 4
        background-size: 100% 100%;
    }
}

.heroCarousel-image {
    display: none;
    visibility: hidden;
    @include breakpoint("medium") { // 1
        visibility: hidden;
    }
}

.heroCarousel-content {
    //background-color: rgba($carousel-bgColor, 1);
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translateY(-50%);
     @include breakpoint("small") {
       padding: spacing("half") spacing("single") (spacing("double"));
    }
    @include breakpoint("medium") {
        @include carouselOpaqueBackgrounds;
        background-color: rgba($carousel-bgColor, 0.9);
        margin: 0 auto;
        padding: spacing("single") * 1.5;
        width: remCalc(400px);

        &.heroCarousel-content--empty {
            background-color: transparent;
        }
    }
    @media (max-width:767px) {
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        width: 100%;
        text-align: center;
    }
}

.heroCarousel-title {
    color: $carousel-title-color;
    font-size: fontSize("small") + 6;
    margin-top: 0;
    font-weight:bold;
    line-height: 1.1;
     @include breakpoint("small") {
        font-size: fontSize("small") + 10;
    }
    @include breakpoint("medium") {
        font-size: fontSize("hero") + 9px;
    }
}

.heroCarousel-description {
    text-transform: uppercase;
    letter-spacing: 5px;
    position: relative;
    color: $carousel-description-color;
    font-weight:bold;
    font-size: fontSize("tiny") - 1;
    @include breakpoint("small") {
        font-size: fontSize("smallest") - 1;
        padding:5px 0 0 45px;
        background:url(../img/icon_slideshow.png) center left no-repeat;
    }

    @include breakpoint("medium") {
        font-size: fontSize("smaller") - 1;
    }
}

.heroCarousel-action {
    color:$btn_color_carousel;
    background-color: rgba($btn_bg_carousel, 0);
    text-transform:uppercase;
    //margin: remCalc(0px 40px);
    padding:5px 20px 0px 0;
    line-height: 28px;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: $btn_border_carousel;
    border-radius:initial;
    font-weight:bold;
    position:relative;
    font-size:12px;
    @include breakpoint("medium") {
         letter-spacing: 5px;
         font-size:14px;
         padding:10px 20px 0px 0;
    }
    &:before{
        content: "+";
        right: 0;
        position:absolute;
    }
    &:hover,
    &.active {
        color:$btn_color_carousel_hover;
        background-color:$btn_bg_carousel_hover;
        border-color:$btn_border_carousel_hover;
        border-width: 0 0 2px 0;
    }
}
