<div class="container">
    {{{ snippet "forms_search"}}}
    <form class="form" action="{{urls.search}}">
        <fieldset class="form-fieldset">
            <div class="form-field">
                <label class="is-srOnly" for="search_query">{{lang "search.quick_search.input_label"}}</label>
                <input class="form-input" data-search-quick name="search_query" id="search_query" data-error-message="{{lang 'search.error.empty_field'}}" placeholder="{{lang 'search.quick_search.input_placeholder'}}" autocomplete="off">
            </div>
        </fieldset>
    </form>
    <a class="modal-close hidden-sm hidden-xs" aria-label="Close" data-drop-down-close="" role="button">
        <span aria-hidden="true">×</span>
    </a>
    <section class="quickSearchResults" data-bind="html: results"></section>
</div>
