<div class="grid grid--no-gutters image-bar clearfix">
  <div class="row">
  <div class="banner_home col-md-4 col-sm-4  col-xs-4 col-sp-12">
    <div class="effect_image effect">
      <a href="{{lang 'ap-base-1.banner-top.link-banner-top1'}}">
        <img src="{{lang 'ap-base-1.banner-top.banner-top1'}}" alt="feature-row__image" class="img-responsive">
      </a>
    </div>
  </div>

  <div class="banner_home col-md-4 col-sm-4 col-xs-4 col-sp-12">
    <div class="effect_image effect">
      <a href="{{lang 'ap-base-1.banner-top.link-banner-top2'}}">
        <img src="{{lang 'ap-base-1.banner-top.banner-top2'}}" alt="feature-row__image" class="img-responsive">
      </a>
    </div>
  </div>

  <div class="banner_home col-md-4 col-sm-4 col-xs-4 col-sp-12">
    <div class="effect_image effect">
      <a href="{{lang 'ap-base-1.banner-top.link-banner-top3'}}">
        <img src="{{lang 'ap-base-1.banner-top.banner-top3'}}" alt="feature-row__image" class="img-responsive">
      </a>
    </div>
  </div>
</div>
</div>
