<div class="grid grid--no-gutters image-bar clearfix">
	<div class="effect_image">
		<a href="{{lang 'ap-base-1.banner-mid.link-banner-mid'}}">
			<img src="{{lang 'ap-base-1.banner-mid.banner-mid'}}" alt="feature-row__image" class="img-responsive">
		</a>
	</div>
</div>
