<div class="{{lang 'ap-base-1.slideshow.on-off-section' }}  block-hero-1"> 
    {{#block "hero"}} {{/block}}
</div>
<div class="container">
    {{#if banners.top}}
    <div class="banners clearfix" data-banner-location="top">
        <div class="banner banner-top">
            {{{limit banners.top 1}}}
        </div>
    </div>
    {{/if}}
    <div class="{{lang 'ap-base-1.banner-top.on-off-section' }} big-section-index section-banner"> 
        {{> components/themes/sections/section section="pibags1"}}
    </div>
    <div class="{{lang 'ap-base-1.featured-products.on-off-section' }} big-section-index featured-products">
        {{> components/themes/sections/section section="featured_products"}}
    </div> 
    <div class="{{lang 'ap-base-1.banner-mid.on-off-section' }} big-section-index"> 
        {{> components/themes/sections/section section="pibags-mid1"}}
    </div>
    <div class="{{lang 'ap-base-1.banner-mid.on-off-section-2' }} big-section-index"> 
        {{> components/themes/sections/section section="image-text"}}
    </div>
    <div class="{{lang 'ap-base-1.new-products.on-off-section' }} big-section-index clearfix">
        <div class="row">
        	<div class="banner_product_list col-lg-3 col-md-3 hidden-sm hidden-xs hidden-sp pull-left">
        		{{> components/themes/sections/section section="banner-product"}}
        	</div>
        	<div class="page-width col-lg-9 col-md-9 col-sm-12">
        	{{> components/themes/sections/section section="new_products"}}
        	</div>
        </div>
    </div>
    <div class="{{lang 'ap-base-1.blog-home.on-off-section' }} big-section-index">
    <div class="row">
        {{> components/themes/sections/section section="blog_home" columns=3}}
   </div>
    </div>
    <div class="ap-theme-wrap big-section-index clearfix">
         <div class="row">
            <div class="{{lang 'ap-base-1.testimonial.on-off-section' }} col-lg-7 col-md-7 col-sm-7 col-xs-12 col-sp-12 ">
                {{> components/themes/sections/section section="testimonial"}}
            </div> 
            <div class="{{lang 'ap-base-1.instagram-carousel.on-off-section' }} col-lg-5 col-md-5 col-sm-5 col-xs-12 col-sp-12">
            {{> components/themes/sections/section section="instagram-grid"}}
            </div> 
        </div>
    </div>
    {{#if banners.bottom}}
        <div class="banner-bottom" data-banner-location="bottom">
            <div class="banner banner-bottom">
             {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}
</div>
