<div class="heroCarousel-content{{#unless show_background}} heroCarousel-content--empty{{/unless}}">
     <p class="heroCarousel-description">{{{text}}}</p>
     <h1 class="heroCarousel-title">{{{heading}}}</h1>
    {{#if button_text}}
        <span class="heroCarousel-action button button--primary button--large">{{button_text}}</span>
    {{/if}}
</div>
