{{#if theme_settings.instagram-show}}
<div class="instagram-block">
    <div class="block_content clearfix"> 
        <div id="instafeed" class="apframework-instafeed clearfix">
    </div>
    </div>
    <script type="text/javascript" src="{{cdn '/assets/vendor/instafeed/instafeed.min.js'}}"></script>
    <script type="text/javascript">
       document.addEventListener('DOMContentLoaded', function () {

        "use strict";

        var feed = new Instafeed({
            target: 'instafeed',
            get: "user",
            accessToken:"{{theme_settings.accessToken}}",
            clientId: "{{ theme_settings.clientid-id }}",
            userId: "{{ theme_settings.user-id }}",
            limit: "{{ theme_settings.instagram_limit }}",
            resolution: "{{theme_settings.img-size}}",
            template: '<div class="instafeed-item-apframework col-md-4 col-sm-6 col-xs-6 col-sp-12 no-padding"><a href="{'+'{link}}" target="_blank" id="{'+'{id}}"><img src="{'+'{image}}" /></a></div>',
            links: false,
            sortBy: 'most-recent',
        });
        feed.run();
      });
    </script>
</div>
{{/if}}
