	<div class="brand-logo">
		<a title="brand logo" href="{{lang 'ap-base-3.brandlist-banner.link'}}">
			<img class="img-responsive" src="{{lang 'ap-base-3.brandlist-banner.image'}}" alt="brand-logo" />
		</a>
	</div>
	<div class="brand-logo">
		<a title="brand logo" href="{{lang 'ap-base-3.brandlist-banner.link2'}}">
			<img class="img-responsive" src="{{lang 'ap-base-3.brandlist-banner.image2'}}" alt="brand-logo" />
		</a>
	</div>
	<div class="brand-logo">
		<a title="brand logo" href="{{lang 'ap-base-3.brandlist-banner.link3'}}">
			<img class="img-responsive" src="{{lang 'ap-base-3.brandlist-banner.image3'}}" alt="brand-logo" />
		</a>
	</div>
	<div class="brand-logo">
		<a title="brand logo" href="{{lang 'ap-base-3.brandlist-banner.link4'}}">
			<img class="img-responsive" src="{{lang 'ap-base-3.brandlist-banner.image4'}}" alt="brand-logo" />
		</a>
	</div>
	<div class="brand-logo">
		<a title="brand logo" href="{{lang 'ap-base-3.brandlist-banner.link5'}}">
			<img class="img-responsive" src="{{lang 'ap-base-3.brandlist-banner.image5'}}" alt="brand-logo" />
		</a>
	</div>
