<!DOCTYPE html>
<html class="no-js {{#if theme_settings.theme_variation '==' 'ap-base-4'}} container-wrap {{/if}}" lang="{{ locale_name }}">
<head>
    <title>{{ head.title }}</title>
    {{{ head.meta_tags }}}
    {{{ head.config }}}
    {{#block "head"}} {{/block}}
    <link href="{{ head.favicon }}" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {{{stylesheet '/assets/css/theme.css'}}}
    {{ getFontsCollection }}
    <script async src="{{cdn 'assets/modernizr-custom.js'}}"></script>
    {{{head.scripts}}}
    {{{head.rsslinks}}}

    {{inject 'themeSettings' theme_settings}}
    {{inject 'genericError' (lang 'common.generic_error')}}
    {{inject 'maintenanceMode' settings.maintenance}}
    {{inject 'urls' urls}}
    {{{snippet 'htmlhead'}}}
</head>
<body>
    {{> components/custom-snippet/popup-newsletter }}
    {{{snippet 'header'}}}
    <div class="icons-svg-sprite">{{> components/common/icons/icon-defs }}</div>

    {{#if settings.privacy_cookie}}
    {{> components/common/cookie}}
    {{/if}}
    {{#if theme_settings.pageload '===' 'eachpage'}}
    <div class="loader-master">
        <div class="loader-inner">
            <div class="loader"></div>
        </div>
    </div>
    {{/if}}
    {{#if theme_settings.pageload '===' 'homepageonly'}}
    {{#if template_file '===' 'pages/home'}}
    <div class="loader-master">
        <div class="loader-inner">
            <div class="loader"></div>
        </div>
    </div>
    {{/if}}
    {{/if}}
    {{#if theme_settings.backtotop}}
    <p id="back-top">
        <a href="#top" title="Scroll To Top">Scroll To Top</a>
    </p>
    {{/if}}
    {{#if theme_settings.theme_variation '==' 'ap-base-4'}}
    {{> components/common/header4 }}
    {{else if theme_settings.theme_variation '==' 'ap-base-3'}}
    {{> components/common/header }}
    {{else if theme_settings.theme_variation '==' 'ap-base-2'}}
    {{> components/common/header2 }}
    {{else}}
    {{> components/common/header }}
    {{/if}}
    
    {{> components/common/body }}
    {{#if theme_settings.theme_variation '==' 'ap-base-4'}}
    {{> components/common/footer-h4 }}
    {{else}}
    {{> components/common/footer }}
    {{/if}}
            {{#if theme_settings.gmap-show}}
        <script type="text/javascript">
            function initMap() {
                var latitude = {{theme_settings.gmap-latitude}};
                var longitude = {{theme_settings.gmap-longitude}};
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: {{theme_settings.gmap-zoom}},
                    center: {lat: latitude, lng: longitude},
                    mapTypeId: '{{theme_settings.gmap-type}}'
                });
                var marker = new google.maps.Marker({
                    position: {lat: latitude, lng: longitude},
                    map: map,
                    label: "{{theme_settings.gmap-shopname}}"
                });

            }
        </script>
        <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsyzuXq0HwAYN_JuFOKfWey_2_DbXuU0Y&callback=initMap">
        </script>
        {{/if}}
    <script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
    <script src="{{cdn 'assets/dist/theme-bundle.main.js'}}"></script>

    <script>
            // Exported in app.js
            window.stencilBootstrap("{{template_file}}", {{jsContext}}).load();
        </script>
        
        {{{footer.scripts}}}
        {{{snippet 'footer'}}}
    </body>
    </html>
